<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSUIElement</key>
	<true/>
	<key>NSScreenCaptureDescription</key>
	<string>Summon needs screen access to understand what you're working on and provide timely assistance.</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>Summon needs accessibility access to know which app you're using.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Summon needs microphone access to hear your voice and have conversations</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Summon uses speech recognition to understand what you say</string>
</dict>
</plist>
